requests
python-dotenv
numpy
pandas
geopandas
pyarrow
shapely
xarray[all]
rasterio
fiona
leafmap
coinbase-advanced-py
boto3
datetime
confluent-kafka
dlt[duckdb]
dlt[sqlite]
dlt[snowflake]
dbt-core
dbt-snowflake
fastapi
redis
types-redis
uvicorn
pytest